<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Shortid generator</h1>
    <%  if (locals.id) { %>
        <p>shortid generated: localhost:8000/url/get/<%=id %></p>
    <%}%>     
    <form method="post" action="/url/post">

        <input name="reid" type="text" placeholder="enter the email">
        <button type="submit">generate</button>
    </form>
    <%  if (locals.urls)  {%>
        <table>
            <thead>
                <th>s no.</th>
                <th>shortid</th>
                <th>redirect</th>
                <th>timesvisited</th>
            </thead>
                <% urls.forEach((url,index) => { %>
                    <tr>
                 <td><%= index+1 %></td>
                 <td>localhost:8000/url/get/<%= url.Shortid %></td>
                 <td><%= url.reid %></td>
                 <td><%= url.visithistory.length %></td>
                </tr>
                <% }) %>
            </tr>
        </table>
        <%}%>
     
</body>
</html>